/* this is the main css of the site
which design the mian frame of site
 */

body {
	margin: 0px;
	padding: 0px;
}


/* header main style */

.site-header {
	width: 100%;
	background: no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	margin-bottom: 20px;
	overflow: auto;
}

.header-top {
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	height: 35px;
}

.header-top-title {
	text-decoration: none;
	color: #dddddd;
	font-size: 20px;
	font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif,'Times New Roman', Times, serif;
}

.header-nav-container {
	float: right;
	padding-top: 4px;
}

.header-nav-container a {
	padding-left: 10px;
	text-decoration: none;
	color: #dddddd;
}

.header-nav-container a:hover {
	color: white;
	font-weight: bold;
}

.header-content {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	max-width: 800px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #fff;
}

.header-content h2{
	font-weight: normal;
}

.header-content p {
	font-family: cursive, Georgia, serif;
	font-style: italic;
}


/* site aside-nav style */

.nav-wrapper {
	width: 200px;
	display: none;
	float: right;
	margin-left: 20px;
	margin-right: 20px;
}

.aside-nav-item {
	border-top: 1px #E0DCDC solid;
	margin-bottom: 15px;
}


.aside-nav-title {
	color: #888;
	text-align: center;
	font-size: 20px;
}

.aside-nav-item .re-links {
	font-size: 15px;
	text-decoration: none;
	color: #DCDADA;
	margin-left: 8px;
	margin-top: 5px;
	display: inline-block;
}
.aside-nav-item .re-links:hover{
	color: #888;
}



/* content main style */
.page-content {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 14px;
	margin-bottom: 20px;
}


/* post list for home page */
.post-list {
	padding-left: 0px;
}

.post-list li{
	list-style: none;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px #E0DCDC solid;
}

.post-link {
	color: #000;
	text-decoration: none;
}

.post-link:hover {
	margin-left: 5px;
}

.post-list .post-excerpt {
	line-height: 1.6;
	color: #888;
}

.post-list .tag:hover, .aside-nav-item .tag:hover{
	background: #EAEAEA;
}

.post-list .read-all-button {
	color: #AAA;
	padding-bottom: 3px;
	border-bottom: 1px gray dotted;
}

.post-list .read-all-button:hover {
	margin-left: 3px;
	color: #0577CE;
	border-bottom: #0687E8 solid 1px;
}


/* site-footer style */
.site-footer {
	clear: both;
	text-align: center;
}

/* for tags page */
.tags-page .all-tags {
	margin-bottom: 50px;
}

.tags-page .all-tags-links div {
	margin-bottom: 40px;
}

.tags-page .all-tags-links div a {
	text-decoration: none;
	color: #9E9E9E;
}

.tags-page .all-tags-links div a:hover {
	color:#2196F3;
	margin-left: 5px;
}

/*  tags page style */
.tag {
	font-size: 14px;
	padding:3px;
	padding-left: 7px;
	padding-right: 7px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-decoration: none;
	border-radius: 15px;
	display: inline-block;
}

.header-content .tags .tag {
	color: #fff;
	border: #fff 1px solid;
}

.header-content .tags .tag:hover {
	background: rgba(255,255,255,0.4);
}

.post-list .tag, .aside-nav-item .tag, .tags-page .tag {
	border: #CCCCCC 1px solid;
	color: #888;
}

.tags-page .tag:hover{
	border: #2196F3 1px solid;
	color: #2196F3;
}


/* add transition */
.post-list .read-all-button, .tag, .post-link, .header-nav-container a, .all-tags-links div a,.aside-nav-item .re-links {
	transition: all 0.3s;
    -moz-transition: all 0.3s;  /* Firefox 4 */
    -webkit-transition: all 0.3s;   /* Safari å’Œ Chrome */
    -o-transition: all 0.3s;    /* Opera */
}


/* capital */
.capital {
	text-transform: uppercase
}


/* display the nav-side */
@media screen and (min-width: 900px) {
	.nav-wrapper {
		display: block;
	}
	.post-list-container {
		margin-right: 230px;
	}
}

/* for little screen */
@media screen and (max-width: 360px) {
    .site-header {
    	min-height: 250px;
    	margin-bottom: 50px;
    }

    .header-content {
		padding-top: 20px;
		padding-bottom:20px;
	}

	.header-content h1 {
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 8px; 
	}
	.header-content h2 {
		font-size: 16px;
		margin: 0;
	}
}


/* for middle screen */
@media screen and (min-width: 361px) and (max-width: 767px) {
    .site-header {
    	min-height: 325px;
    }

    .header-content {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.header-content h1 {
		font-size: 30px;
		margin-top: 15px;
		margin-bottom: 12px; 
	}
	.header-content h2 {
		font-size: 20px;
		margin: 0;
	}
}


/* for big screen */
@media screen and (min-width: 768px) {
    .site-header {
    	min-height: 425px;
    }
    .header-top{
    	padding-left: 20px;
    	padding-right: 20px;
    }
    .header-content {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	.header-content h1 {
		font-size: 45px;
		margin-top: 20px;
		margin-bottom: 17px;
	}
	.header-content h2 {
		font-size: 30px;
		margin: 0;
	}
}